Language: Cpp

BasedOnStyle: Google

AlignEscapedNewlines: true
ReferenceAlignment: Left
DerivePointerAlignment: false
IndentAccessModifiers: false
AccessModifierOffset: -2
PointerAlignment: Left
IndentWidth: 2