Language: Cpp

BasedOnStyle: Microsoft

ReferenceAlignment: Left
BreakInheritanceList: BeforeComma
AllowAllArgumentsOnNextLine: true
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
IndentAccessModifiers: false
AccessModifierOffset: -2
PointerAlignment: Left
IndentWidth: 2